@media only screen and (max-width: 500px) {
  body {
    text-align: center;
  }

  .container-tb {
    padding: 20% 5%;
    margin: 0;
    width: 100vw;
    text-align: center;
  }

  // Typography
  .primary-heading {
    font-size: 2rem;
  }

  .secondary-heading {
    font-size: 1.75rem;
  }

  // Nav
  #nav {
    display: none;
  }

  // Header

  #header {
    margin-top: 3rem;

    .header {
      grid-template-columns: 1fr;
      grid-template-areas:
        "img"
        "text";
      padding-right: 5%;

      &-a {
        grid-area: text;

        .buttons {
          display: flex;
          justify-content: space-between;

          .btn {
            display: inline-block;
          }

          .my-1 {
            margin: 2rem 0;
          }
        }
      }

      &-b {
        grid-area: img;

        .hero-img-bg {
          border-radius: 25px 0 0 100px;
          right: -6%;
        }

        .hero-img {
          transform: scale(1.2);
        }
      }
    }
  }

  // Features
  #features {
    .features {
      .features-area {

        label {
          width: 100%;
        }

        input:checked+label {
          color: $darkGray;
          font-weight: 500;

          &::after {
            content: '';
            height: 1px;
            width: 100%;
            background-color: $grayishBlue;
            position: absolute;
            bottom: -10px;
            left: 0;
          }

          &::before {
            content: '';
            height: 3px;
            width: 50%;
            margin-left: 25%;
            background-color: $softRed;
            position: absolute;
            bottom: -10px;
            left: 0;
          }
        }

        #tab1:checked~.content #content1,
        #tab2:checked~.content #content2,
        #tab3:checked~.content #content3 {
          grid-template-columns: 1fr;
          grid-gap: 5rem;
          text-align: center;

          .feature-img-bg {
            height: 30%;
            width: 80%;
            top: 20%;
            left: -10%;
          }
        }

        #tab1:checked~.content #content1 {
          .feature-img-bg {
            top: 15%;
          }
        }
      }
    }
  }

  // Download
  #download {
    .download {
      .lead {
        width: 100%;
      }

      .extension-buckets {
        grid-template-columns: 1fr;
        width: 100%;
      }
    }
  }

  // FAQ
  #faq {
    .faq {
      width: 100%;

      .faqs {
        .accordion {
          border-top: none;
          border-bottom: 1px solid lightgray;
        }
      }
    }
  }

  // Join
  #join {
    .join {
      width: 100%;

      form {
        display: block;

        .btn {
          display: block;
          width: 100%;
          margin: auto;
          margin-top: 1rem;
        }
      }
    }
  }

  // Footer
  #footer {
    .footer {
      display: grid;
      grid-template-columns: 1fr;
      justify-items: center;

      &-a {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;

        .logo {
          margin: auto;
          margin-bottom: 1rem;
        }

        .nav-links {
          .nav-link {
            display: block;
            padding: 1rem;
          }
        }
      }

      &-b {
        .social {
          margin-left: 0;
          margin: 1rem;
        }
      }
    }
  }
}